/**
 * @file
 * Reusable layout styling for Commerce Wishlist components
 */

.wishlist-block--summary a {
  display: block;
}
.wishlist-block--contents {
  display: none;
  position: absolute;
  overflow: hidden;
  z-index: 300;
}
.wishlist-block--contents__items {
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 300px;
}
.wishlist-block--contents.is-outside-horizontal {
  right: 0;
}
.wishlist-block--contents__expanded {
  overflow: visible;
}
