{#
/**
 * @file wishlist_template.html.twig
 * Default theme implementation to present Wishlist template data.
 *
 * This template is used when viewing Wishlist template pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_wishlist_template()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('wishlist_template') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
